In [17]:
import pandas as pd
import numpy as np
import os
import pyreadr

In [20]:
dir_data = "C:/Users/chris/Documents/Projects/Names/Data/"

In [ ]:
# Initialize an empty list to store dataframes
dfs = []

# Loop through each file in the directory
for year in range(1900, 2024):
    file_path = os.path.join(dir_data, f"raw/yob{year}.txt")
    if os.path.exists(file_path):
        df = pd.read_csv(file_path, header=None)
        df['year'] = year
        dfs.append(df)

# Concatenate all dataframes
all_data = pd.concat(dfs, ignore_index=True)
all_data.columns = ['Name', 'Gender', 'Count', 'Year']
all_data

             Name Gender  Count  Year
0            Mary      F  16705  1900
1           Helen      F   6342  1900
2            Anna      F   6114  1900
3        Margaret      F   5304  1900
4            Ruth      F   4765  1900
...           ...    ...    ...   ...
2064950     Zyell      M      5  2023
2064951      Zyen      M      5  2023
2064952    Zymirr      M      5  2023
2064953    Zyquan      M      5  2023
2064954     Zyrin      M      5  2023

[2064955 rows x 4 columns]

In [13]:
# Pivot the data to get separate columns for male and female counts
pivot_data = all_data.pivot_table(index=['Name', 'Year'], columns='Gender', values='Count', aggfunc='sum', fill_value=0).reset_index()

# Rename the columns
pivot_data.columns = ['Name', 'Year', 'Count_Female', 'Count_Male']

# Calculate the total count
pivot_data['Count_Total'] = pivot_data['Count_Female'] + pivot_data['Count_Male']

# Calculate the rank for female and male names
pivot_data['Rank_Female'] = pivot_data.groupby('Year')['Count_Female'].rank(ascending=False, method='min')
pivot_data['Rank_Male'] = pivot_data.groupby('Year')['Count_Male'].rank(ascending=False, method='min')

# Calculate the proportion of each name for female and male
pivot_data['Rate_Female'] = pivot_data['Count_Female'] / pivot_data.groupby('Year')['Count_Female'].transform('sum')
pivot_data['Rate_Male'] = pivot_data['Count_Male'] / pivot_data.groupby('Year')['Count_Male'].transform('sum')

# Calculate the yearly share of female and male names
pivot_data['Percent_Female'] = pivot_data['Count_Female'] / pivot_data['Count_Total']
pivot_data['Percent_Male'] = pivot_data['Count_Male'] / pivot_data['Count_Total']

# Sort the data by Year and then by Count_Total in descending order
pivot_data = pivot_data.sort_values(by=['Year', 'Count_Total'], ascending=[True, False])

pivot_data

,Name,Year,Count_Female,Count_Male,Count_Total,Rank_Female,Rank_Male,Rate_Female,Rate_Male,Percent_Female,Percent_Male
1223786,Mary,1900,16705,75,16780,1.0,230.0,0.055723,0.000498,0.995530,0.004470
868794,John,1900,46,9829,9875,499.0,1.0,0.000153,0.065320,0.004658,0.995342
1823156,William,1900,44,8579,8623,509.0,2.0,0.000147,0.057013,0.005103,0.994897
790651,James,1900,41,7245,7286,524.0,3.0,0.000137,0.048148,0.005627,0.994373
711149,Helen,1900,6342,18,6360,2.0,578.0,0.021155,0.000120,0.997170,0.002830
...,...,...,...,...,...,...,...,...,...,...,...
1882627,Zyen,2023,0,5,5,17534.0,12190.0,0.000000,0.000003,0.000000,1.000000
1883644,Zymirr,2023,0,5,5,17534.0,12190.0,0.000000,0.000003,0.000000,1.000000
1883650,Zyn,2023,5,0,5,15121.0,14150.0,0.000003,0.000000,1.000000,0.000000
1883855,Zyquan,2023,0,5,5,17534.0,12190.0,0.000000,0.000003,0.000000,1.000000
1884077,Zyrin,2023,0,5,5,17534.0,12190.0,0.000000,0.000003,0.000000,1.000000

In [15]:
min_year = 1960

# Filter the data for years since min_year
filtered_data = all_data[all_data['Year'] >= min_year]

# Pivot the data to get separate columns for male and female counts
overall_data = filtered_data.pivot_table(index='Name', columns='Gender', values='Count', aggfunc='sum', fill_value=0).reset_index()

# Rename the columns
overall_data.columns = ['Name', 'Count_Female', 'Count_Male']

# Calculate the total count
overall_data['Count_Total'] = overall_data['Count_Female'] + overall_data['Count_Male']

# Calculate the rank for female and male names
overall_data['Rank_Female'] = overall_data['Count_Female'].rank(ascending=False, method='min')
overall_data['Rank_Male'] = overall_data['Count_Male'].rank(ascending=False, method='min')

# Calculate the proportion of each name for female and male
overall_data['Rate_Female'] = overall_data['Count_Female'] / overall_data['Count_Female'].sum()
overall_data['Rate_Male'] = overall_data['Count_Male'] / overall_data['Count_Male'].sum()

# Calculate the share of female and male names
overall_data['Percent_Female'] = overall_data['Count_Female'] / overall_data['Count_Total']
overall_data['Percent_Male'] = overall_data['Count_Male'] / overall_data['Count_Total']

# Sort the data by Count_Total in descending order
overall_data = overall_data.sort_values(by='Count_Total', ascending=False)

overall_data

,Name,Count_Female,Count_Male,Count_Total,Rank_Female,Rank_Male,Rate_Female,Rate_Male,Percent_Female,Percent_Male
61877,Michael,17132,3098647,3115779,909.0,1.0,1.538617e-04,2.595628e-02,0.005498,0.994502
21219,David,8832,2145109,2153941,1433.0,2.0,7.931978e-05,1.796882e-02,0.004100,0.995900
37479,James,10306,2082283,2092589,1294.0,3.0,9.255770e-05,1.744255e-02,0.004925,0.995075
41864,John,8237,1973259,1981496,1496.0,4.0,7.397611e-05,1.652930e-02,0.004157,0.995843
17447,Christopher,8973,1955983,1964956,1416.0,5.0,8.058609e-05,1.638458e-02,0.004567,0.995433
...,...,...,...,...,...,...,...,...,...,...
65546,Necko,0,5,5,65242.0,34931.0,0.000000e+00,4.188324e-08,0.000000,1.000000
82904,Synaia,5,0,5,55998.0,40721.0,4.490477e-08,0.000000e+00,1.000000,0.000000
82907,Synceir,0,5,5,65242.0,34931.0,0.000000e+00,4.188324e-08,0.000000,1.000000
15863,Chakeya,5,0,5,55998.0,40721.0,4.490477e-08,0.000000e+00,1.000000,0.000000
84851,Tavores,0,5,5,65242.0,34931.0,0.000000e+00,4.188324e-08,0.000000,1.000000

In [30]:
# Read the RData file
name_race_probs = pyreadr.read_r(dir_data+'first_nameRaceProbs.rData')
name_race_probs = name_race_probs['first_nameRaceProbs']

# Clean up the name column
name_race_probs['name'] = name_race_probs['name'].str.strip().str.title()

# Merge with overall_data with indicator set to True
merged_data = overall_data.merge(name_race_probs, left_on='Name', right_on='name', how='left', indicator=True)

# Print the indicator column's value_counts
print(merged_data['_merge'].value_counts())

# Drop the indicator column
merged_data = merged_data.drop(columns=['_merge'])
# Rename the race columns
merged_data = merged_data.rename(columns={'whi': 'pr_white', 'bla': 'pr_black', 'his': 'pr_hispanic', 'asi': 'pr_asian'})

# Drop the 'oth' and 'name' columns
merged_data = merged_data.drop(columns=['oth', 'name'])
merged_data

both          64949
left_only     30733
right_only        0
Name: _merge, dtype: int64

,Name,Count_Female,Count_Male,Count_Total,Rank_Female,Rank_Male,Rate_Female,Rate_Male,Percent_Female,Percent_Male,pr_white,pr_black,pr_hispanic,pr_asian
0,Michael,17132,3098647,3115779,909.0,1.0,1.538617e-04,2.595628e-02,0.005498,0.994502,0.817958,0.134655,0.029259,0.006104
1,David,8832,2145109,2153941,1433.0,2.0,7.931978e-05,1.796882e-02,0.004100,0.995900,0.843589,0.093486,0.044733,0.006973
2,James,10306,2082283,2092589,1294.0,3.0,9.255770e-05,1.744255e-02,0.004925,0.995075,0.828457,0.153643,0.006438,0.003470
3,John,8237,1973259,1981496,1496.0,4.0,7.397611e-05,1.652930e-02,0.004157,0.995843,0.867057,0.099637,0.018107,0.005635
4,Christopher,8973,1955983,1964956,1416.0,5.0,8.058609e-05,1.638458e-02,0.004567,0.995433,0.781474,0.160660,0.037080,0.006736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95677,Necko,0,5,5,65242.0,34931.0,0.000000e+00,4.188324e-08,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
95678,Synaia,5,0,5,55998.0,40721.0,4.490477e-08,0.000000e+00,1.000000,0.000000,NaN,NaN,NaN,NaN
95679,Synceir,0,5,5,65242.0,34931.0,0.000000e+00,4.188324e-08,0.000000,1.000000,NaN,NaN,NaN,NaN
95680,Chakeya,5,0,5,55998.0,40721.0,4.490477e-08,0.000000e+00,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000
95681,Tavores,0,5,5,65242.0,34931.0,0.000000e+00,4.188324e-08,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000

In [37]:
# Save pivot_data to parquet
pivot_data.to_parquet(os.path.join(dir_data, 'name_year_data.parquet'))

# Save merged_data to parquet
merged_data.to_parquet(os.path.join(dir_data, 'name_overall_data.parquet'))
merged_data.to_parquet(os.path.join(dir_data, 'name_overall_data.csv'))

In [45]:
name="Rowan"

merged_data.loc[merged_data['Name']==name]

,Name,Count_Female,Count_Male,Count_Total,Rank_Female,Rank_Male,Rate_Female,Rate_Male,Percent_Female,Percent_Male,pr_white,pr_black,pr_hispanic,pr_asian
692,Rowan,19768,40389,60157,809.0,442.0,0.000178,0.000338,0.328607,0.671393,0.663438,0.262712,0.031477,0.013317

In [47]:
pivot_data.loc[pivot_data['Name']==name].tail(20)

,Name,Year,Count_Female,Count_Male,Count_Total,Rank_Female,Rank_Male,Rate_Female,Rate_Male,Percent_Female,Percent_Male
1520118,Rowan,2004,379,529,908,707.0,476.0,0.000206,0.000267,0.417401,0.582599
1520119,Rowan,2005,347,603,950,765.0,437.0,0.000188,0.000302,0.365263,0.634737
1520120,Rowan,2006,452,673,1125,638.0,423.0,0.000238,0.000328,0.401778,0.598222
1520121,Rowan,2007,711,869,1580,453.0,365.0,0.000370,0.000419,0.450000,0.550000
1520122,Rowan,2008,676,972,1648,470.0,339.0,0.000358,0.000477,0.410194,0.589806
1520123,Rowan,2009,616,957,1573,497.0,332.0,0.000335,0.000483,0.391608,0.608392
1520124,Rowan,2010,608,955,1563,493.0,328.0,0.000342,0.000498,0.388996,0.611004
1520125,Rowan,2011,544,1047,1591,533.0,309.0,0.000309,0.000551,0.341923,0.658077
1520126,Rowan,2012,684,1151,1835,453.0,300.0,0.000389,0.000607,0.372752,0.627248
1520127,Rowan,2013,714,1197,1911,427.0,292.0,0.000407,0.000633,0.373626,0.626374
1520128,Rowan,2014,774,1547,2321,413.0,240.0,0.000433,0.000806,0.333477,0.666523
1520129,Rowan,2015,989,1816,2805,331.0,219.0,0.000554,0.000948,0.352585,0.647415
1520130,Rowan,2016,1350,2194,3544,238.0,182.0,0.000762,0.001157,0.380926,0.619074
1520131,Rowan,2017,1448,2846,4294,212.0,140.0,0.000839,0.001539,0.337215,0.662785
1520132,Rowan,2018,1459,3038,4497,211.0,129.0,0.000858,0.001674,0.324439,0.675561
1520133,Rowan,2019,1351,3223,4574,230.0,118.0,0.000806,0.001798,0.295365,0.704635
1520134,Rowan,2020,1179,3255,4434,255.0,113.0,0.000730,0.001888,0.265900,0.734100
1520135,Rowan,2021,1259,3642,4901,240.0,105.0,0.000769,0.002085,0.256886,0.743114
1520136,Rowan,2022,1137,3754,4891,277.0,96.0,0.000695,0.002155,0.232468,0.767532
1520137,Rowan,2023,1285,4195,5480,233.0,76.0,0.000805,0.002466,0.234489,0.765511

In [54]:
merged_data.loc[merged_data['pr_asian']>0.5].head(25)

,Name,Count_Female,Count_Male,Count_Total,Rank_Female,Rank_Male,Rate_Female,Rate_Male,Percent_Female,Percent_Male,pr_white,pr_black,pr_hispanic,pr_asian
1516,Muhammad,0,19015,19015,65242.0,691.0,0.000000e+00,1.592820e-04,0.000000,1.000000,0.063737,0.196364,0.005859,0.553636
2123,Arjun,0,11070,11070,65242.0,925.0,0.000000e+00,9.272949e-05,0.000000,1.000000,0.048115,0.002406,0.000000,0.765036
2953,Priya,6352,0,6352,1753.0,40721.0,5.704701e-05,0.000000e+00,1.000000,0.000000,0.037234,0.038074,0.006159,0.725084
3081,Riya,5950,0,5950,1829.0,40721.0,5.343667e-05,0.000000e+00,1.000000,0.000000,0.027660,0.010638,0.017021,0.831915
3138,Syed,11,5759,5770,47241.0,1345.0,9.879048e-08,4.824112e-05,0.001906,0.998094,0.066026,0.008915,0.004457,0.700237
3173,Anjali,5681,0,5681,1876.0,40721.0,5.102079e-05,0.000000e+00,1.000000,0.000000,0.070858,0.030439,0.016467,0.676148
3307,Nikhil,0,5307,5307,65242.0,1408.0,0.000000e+00,4.445487e-05,0.000000,1.000000,0.044032,0.005794,0.000000,0.713789
3332,Aditya,5,5247,5252,55998.0,1421.0,4.490477e-08,4.395227e-05,0.000952,0.999048,0.016158,0.000000,0.001795,0.835727
3396,Mai,5075,20,5095,2035.0,25763.0,4.557834e-05,1.675330e-07,0.996075,0.003925,0.077391,0.028889,0.005170,0.765547
3431,Ishaan,0,4970,4970,65242.0,1466.0,0.000000e+00,4.163194e-05,0.000000,1.000000,0.005435,0.000000,0.000000,0.907609
3458,Shreya,4905,0,4905,2076.0,40721.0,4.405158e-05,0.000000e+00,1.000000,0.000000,0.021863,0.019011,0.000000,0.839354
3502,Tru,1965,2823,4788,3879.0,2104.0,1.764757e-05,2.364728e-05,0.410401,0.589599,0.175824,0.249084,0.000000,0.501832
3521,Rishi,0,4741,4741,65242.0,1501.0,0.000000e+00,3.971369e-05,0.000000,1.000000,0.043736,0.018532,0.009637,0.644181
3540,Kiran,1849,2867,4716,4040.0,2078.0,1.660578e-05,2.401585e-05,0.392070,0.607930,0.093548,0.046774,0.002903,0.644516
3657,Ajay,5,4466,4471,55998.0,1554.0,4.490477e-08,3.741011e-05,0.001118,0.998882,0.068593,0.037765,0.006936,0.663584
3748,Neha,4308,0,4308,2256.0,40721.0,3.868995e-05,0.000000e+00,1.000000,0.000000,0.020653,0.008261,0.002891,0.824453
3862,Krishna,1861,2253,4114,4019.0,2432.0,1.671355e-05,1.887259e-05,0.452358,0.547642,0.111294,0.159548,0.043326,0.525667
3867,Pranav,0,4106,4106,65242.0,1625.0,0.000000e+00,3.439452e-05,0.000000,1.000000,0.015827,0.000000,0.000000,0.861871
3878,Imran,0,4088,4088,65242.0,1633.0,0.000000e+00,3.424374e-05,0.000000,1.000000,0.065605,0.050169,0.003859,0.574530
3883,Dhruv,0,4079,4079,65242.0,1635.0,0.000000e+00,3.416835e-05,0.000000,1.000000,0.023847,0.000000,0.000000,0.847377
4028,Ananya,3878,5,3883,2434.0,34931.0,3.482814e-05,4.188324e-08,0.998712,0.001288,0.026471,0.079412,0.017647,0.744118
4048,Jovie,3824,12,3836,2453.0,28970.0,3.434316e-05,1.005198e-07,0.996872,0.003128,0.208333,0.116667,0.091667,0.583333
4081,Meera,3790,0,3790,2470.0,40721.0,3.403781e-05,0.000000e+00,1.000000,0.000000,0.038278,0.002051,0.004785,0.722488
4153,Avani,3646,42,3688,2535.0,20708.0,3.274456e-05,3.518192e-07,0.988612,0.011388,0.033929,0.055357,0.023214,0.742857
4242,Aditi,3553,0,3553,2581.0,40721.0,3.190933e-05,0.000000e+00,1.000000,0.000000,0.018821,0.010038,0.000000,0.809285